.chat-interface {
    display: flex;
    flex-direction: column-reverse;
    /* max-height: 700px; */
    min-height: 200px;
    height: 100%;
    /* overflow: scroll; */
    overflow-x: hidden;
    background-image: url(https://notalone.tv/images/bgChat/chat-bg-fall.jpg);
    background-position: center bottom;
    background-color: #2a2b30;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.volume-up-img,
.volume-down-img,
.volume-up-img > svg,
.volume-down-img > svg {
    width: 40px;
    height:auto
}
