.main-interface {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-player-wrapper {
    width: 75%;
}

.chat-wrapper {
    width: 25%;
    height: 100%;
}

.video-player {
    width: 100%;
    height: 100%;
}

.react-player {
    width: 100%;
    height: 100%;
}

.message-list {
    max-height: 750px;
    overflow-y: scroll;
    height: 100%;
}

.fullscreen.main-interface {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: contain;
    right: 0;
    bottom: 0;
    min-width: 0px;
    max-width: none;
    min-height: 0px;
    max-height: none;
    transform: none;
    margin: 0;
    background: black;
}

.fullscreen .video-player-wrapper {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: calc(100% - 0px);
    margin: 0;
    position: fixed;
}

/* .fullscreen .video-player-wrapper .react-player {
    position:fixed
} */


.fullscreen .chat-wrapper {
    z-index: 2;
    position: fixed;
    /* top: calc(100% - 225px); */
    top: 20px;
    right: 0;
    width: 33%;
    height: 33%;
}


.fullscreen .chat-wrapper .chat-interface{
    /* top: -9999999px; */
    background: transparent;
    position: absolute;
    width: 50%;
    right: 0;
    animation: chatslideout 1s ease 0s 1 normal forwards;
}

.fullscreen .chat-wrapper:hover .chat-interface,
.fullscreen .chat-wrapper.new-message-received .chat-interface { 
    /* top: 0; */
    animation: chatslidein 1s ease 0s 1 normal forwards;
}


.fullscreen .message-list {
    overflow-y: scroll;
    height: 280px;
}

.fullscreen-btn
{
    display: none;
}

.fullscreen-btn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin-right:20px;
    margin-top:20px;
    width:30px;
    height:30px;
}

.master-controls-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.master-controls-wrapper label {
    color: #bdbdbd;
}

.master-controls-wrapper label,
.master-controls-wrapper button {
    margin-left: 20px;
}

.hidden {
    visibility: hidden;
}

.dont-show {
    display:none !important;
}

.toggle-fullscreen-btn {
	position: fixed;
	z-index: 10000;
	top: 10px;
	right: 10px;
	border: 0;
	padding: 0;
	background: none;
	cursor: pointer;
	outline: none;
}


.toggle-fullscreen-svg {
	display: block;
	height: auto;
}

.toggle-fullscreen-svg path {
	transform-box: view-box;
	transform-origin: 12px 12px;
	fill: none;
	stroke: hsl(225, 10%, 8%);
	stroke-width: 4;
	transition: .15s;
}


.toggle-fullscreen-btn:hover path:nth-child(1),
.toggle-fullscreen-btn:focus path:nth-child(1) {
	transform: translate(-2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(2),
.toggle-fullscreen-btn:focus path:nth-child(2) {
	transform: translate(2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(3),
.toggle-fullscreen-btn:focus path:nth-child(3) {
	transform: translate(2px, 2px);
}

.toggle-fullscreen-btn:hover path:nth-child(4),
.toggle-fullscreen-btn:focus path:nth-child(4) {
	transform: translate(-2px, 2px);
}


.toggle-fullscreen-btn:not(.on) .icon-fullscreen-leave {
	display: none;
}

.toggle-fullscreen-btn.on .icon-fullscreen-enter {
	display: none;
}


.video-name {
    color: #fff;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px auto;
    cursor:pointer;
}

.video-name.selected {
    color: greenyellow;
}

.video-name:first-child {
    font-size: 25px;  
}

.video-quality-list {
    width: 90%;
    margin: 50px auto;
    display: flex; 
    justify-content: space-around;
    align-content: space-around

}
.video-quality-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #fff;
    width: 20%;
    height: 50px;
    border: 1px solid #fff;
    transition: 0.3s;
}


.video-quality-item.selected,
.video-quality-item:hover {
    border: 1px solid rgb(48, 42, 42);
    background-color: #51be30;
    cursor: pointer;
    color: #000;
}



@keyframes chatslidein {
	0% {
		opacity: 0;
		top: -3000px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

@keyframes chatslideout {
	0% {
		opacity: 1;
		top: 0;
	}

    100% {
		opacity: 0;
		top: -500px;
	}
}