.main-interface {
    width: 100%;
    display: flex;
}

.video-player-wrapper {
    width: 75%;
}

.chat-wrapper {
    width: 25%;
}

.video-player {
    width: 100%;
    height: 100%;
}

.react-player {
    width: 100%;
    height: 100%;
}

.fullscreen.main-interface {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: contain;
    right: 0;
    bottom: 0;
    min-width: 0px;
    max-width: none;
    min-height: 0px;
    max-height: none;
    transform: none;
    margin: 0;
}

.fullscreen .video-player-wrapper {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: calc(100% - 0px);
    margin: 0;
    position: fixed;
}

/* .fullscreen .video-player-wrapper .react-player {
    position:fixed
} */


.fullscreen .chat-wrapper {
    z-index: 2;
    position: fixed;
    top: calc(100% - 225px);
    right: 0;
}

.fullscreen-btn
{
    display: none;
}

.fullscreen-btn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin-right:20px;
    margin-top:20px;
    width:30px;
    height:30px;
}

.master-controls-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.master-controls-wrapper label {
    color: #bdbdbd;
}

.master-controls-wrapper label,
.master-controls-wrapper button {
    margin-left: 20px;
}

.hidden {
    visibility: hidden;
}

.toggle-fullscreen-btn {
	position: fixed;
	z-index: 10000;
	top: 10px;
	right: 10px;
	border: 0;
	padding: 0;
	background: none;
	cursor: pointer;
	outline: none;
}


.toggle-fullscreen-svg {
	display: block;
	height: auto;
}

.toggle-fullscreen-svg path {
	transform-box: view-box;
	transform-origin: 12px 12px;
	fill: none;
	stroke: hsl(225, 10%, 8%);
	stroke-width: 4;
	transition: .15s;
}


.toggle-fullscreen-btn:hover path:nth-child(1),
.toggle-fullscreen-btn:focus path:nth-child(1) {
	transform: translate(-2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(2),
.toggle-fullscreen-btn:focus path:nth-child(2) {
	transform: translate(2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(3),
.toggle-fullscreen-btn:focus path:nth-child(3) {
	transform: translate(2px, 2px);
}

.toggle-fullscreen-btn:hover path:nth-child(4),
.toggle-fullscreen-btn:focus path:nth-child(4) {
	transform: translate(-2px, 2px);
}


.toggle-fullscreen-btn:not(.on) .icon-fullscreen-leave {
	display: none;
}

.toggle-fullscreen-btn.on .icon-fullscreen-enter {
	display: none;
}
