.video-list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.video-item-qualities-container-wrapper {
    width: 100%;
}

.video-item-name {
    color: white;
    font-size: 32px;
}

.video-item-qualities-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-item-qualities-container-wrapper-label{
    font-size: 26px;
    color: white;
}

.video-item-qualities-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}